@charset "utf-8";

*{
    box-sizing: border-box;
}

body{
    margin: 0;

}

.wrapper{
    margin-left: 300px;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.text{
    text-align: 20px;
}

img{
    max-width: 100%;
}
/********************
*사이드 바
*********************/
.sidebar{
    background: #ccc;
    color: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
/*******************
*사이드 바 이름
**************************/
.site-name{
    background: #333;
    color: #F33E3E;
    width: 300px;
    height: 300px;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.site-name h1,
.site-name p {
    margin: 0;
}

.site-name h1{
    font-size: 42px;
    line-height: 48px;
}
.site-name p{
    font-size: 18px;
    line-height: 22px;
}

/****************
*nav
**********************/
.nav{
    padding: 0 40px;
}
/****************
*페이지 리스트
**********************/
.page-list li + li {
    margin-top: 1em;
}
.page-list{
    margin: 40px 0;
}

/****************
*태그
**********************/
.tags{
    display: flex;
    gap: 20px 16px;
    flex-wrap: wrap;
}
.tag{
    background: #666;
    color: #fff;
    padding: 4px 16px;
    border-radius: 20px;
}
.tag:hover{
    background: #444;
    text-decoration: none;
}
/****************************
* header
**********************/
header{
    position: relative;
    height: 614px;
    background: #000000;
}
.header-copy{
    position: absolute;
    top: 40px;
    right: 40px;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    margin: 0;
    color: #fff;
}
header img{
    position: absolute;
    bottom: 40px;
    right: 60px;
    left: 0;
    margin: auto;

}

/************
*main
**********************/
main{
    position: relative;
}
h2 {
    font-size: 24px;
    margin: 0;
}

/************
* #section-1
**********************/
#section-1{
    max-width: 920px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    margin: auto;
    background: #fff;
    border-radius: 20px;
}

#section-1 .text{
    flex: 1 0 0;
}

/************
* card
**********************/
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: auto;
}
.card {
    width: 480px;
    padding: 40px;
    border-radius: 20px;
    background: #fff;
    font-weight: bold;
    line-height: 24px;
}

/************
* section-2
* section-3
**********************/
#section-2,
#section-3{
    padding: 80px 67px;
}

#section-2 h2,
#section-3 h2{
    max-width: 1000px;
    margin: 0 auto 40px;
}

/************
* #section-2
**********************/
#section-2 {
    background: #eee;
    padding-top: 180px;
}

/************
* #section-3
**********************/
#section-3 .card{
    background: #eee;
}

#section-3 {
    background: #F33E3E;
}

/************
* footer
**********************/
footer{
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
.copyright{
    font-size: 14px;
}